<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" (click)="navBarCollapsed = !navBarCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="{{['/']}}" class="navbar-brand">Otthonbazar</a>
    </div>
    <div class="navbar-collapse collapse" [collapse]="navBarCollapsed">
      <ul class="nav navbar-nav">
        <li [class.active]="advertisementRoute.isActive">
          <a [routerLink]="['/']" routerLinkActive
             #advertisementRoute="routerLinkActive"
             [routerLinkActiveOptions]="{exact: true}">Hirdetések</a>
        </li>
        <li [class.active]="createEditLinkActive.isActive">
          <a routerLink="create" routerLinkActive
             #createEditLinkActive="routerLinkActive">Hirdetés feladása</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<div class="container body-content">
  <router-outlet></router-outlet>
  <hr />
  <footer>
    <p>&copy; 2017 - Otthonbazar</p>
  </footer>
</div>
